In [4]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series([2,8,9,6])
print(s)
print(type(s))

0    2
1    8
2    9
3    6
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
char_Series = pd.Series(['a,s,sa'])
char_Series

0    a,s,sa
dtype: object

In [ ]:
date_series = pd.date_range(start = '11-09-2017', end = '12-12-2017')
date_series
type(date_series)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
s[3]

s[2:]

2    9
3    6
dtype: int64

In [ ]:
s[[2,3]]

2    9
3    6
dtype: int64

In [ ]:
pd.Series([0, 1, 2], index = ['a', 'b', 'c'])

a    0
b    1
c    2
dtype: int64

In [ ]:
pd.Series(np.array(range(0,10))**2, index = range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [ ]:
sa = pd.DataFrame({'Name': ['Ajay','Aarthi','Atchu','Sonaa'],'Intersted Areas': ['Music','Accounting','Doctor','Analysis'],'Work': ['NA','Accountant','Student','Student']})


sa

     Name Intersted Areas        Work
0    Ajay           Music          NA
1  Aarthi      Accounting  Accountant
2   Atchu          Doctor     Student
3   Sonaa        Analysis     Student

In [2]:
from google.colab import files
uploaded = files.upload()

Saving market_fact.csv to market_fact.csv

In [5]:
mf = pd.read_csv("market_fact.csv")
mf.head()

     Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
0  Ord_5446  Prod_16  SHP_7609  ...   -30.51           3.60                 0.56
1  Ord_5406  Prod_13  SHP_7549  ...     4.56           0.93                 0.54
2  Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
3  Ord_5456   Prod_6  SHP_7625  ...   729.34          14.30                 0.37
4  Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38

[5 rows x 10 columns]

In [ ]:
mf.tail()

        Ord_id  Prod_id   Ship_id  ...  Profit  Shipping_Cost  Product_Base_Margin
8394  Ord_5353   Prod_4  SHP_7479  ...  374.63           7.69                 0.59
8395  Ord_5411   Prod_6  SHP_7555  ...  -74.03           6.92                 0.37
8396  Ord_5388   Prod_6  SHP_7524  ...  -70.85           5.35                 0.40
8397  Ord_5348  Prod_15  SHP_7469  ...  565.34          30.00                 0.62
8398  Ord_5459   Prod_6  SHP_7628  ...  131.39           4.86                 0.38

[5 rows x 10 columns]

In [ ]:
mf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8399 non-null   float64
 5   Discount             8399 non-null   float64
 6   Order_Quantity       8399 non-null   int64
 7   Profit               8399 non-null   float64
 8   Shipping_Cost        8399 non-null   float64
 9   Product_Base_Margin  8336 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [ ]:
mf.describe()

              Sales     Discount  ...  Shipping_Cost  Product_Base_Margin
count   8399.000000  8399.000000  ...    8399.000000          8336.000000
mean    1775.878179     0.049671  ...      12.838557             0.512513
std     3585.050525     0.031823  ...      17.264052             0.135589
min        2.240000     0.000000  ...       0.490000             0.350000
25%      143.195000     0.020000  ...       3.300000             0.380000
50%      449.420000     0.050000  ...       6.070000             0.520000
75%     1709.320000     0.080000  ...      13.990000             0.590000
max    89061.050000     0.250000  ...     164.730000             0.850000

[8 rows x 6 columns]